
<form action="/" method="POST">

<table class="table table-striped table-hover text-center">
    <thead class="thead-dark ">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <% for( let index in user ) { %>
    
   
    <tbody class="tbody-light">
      <tr>
        <th scope="row"><%= index + 1 %> </th>
        <td><%= user[index].name %> </td>
        <td><%= user[index].email %> </td>
        <td><%= user[index].gender %> </td>
        <td><%= user[index].status %> </td>
        

        <td class="d-flex justify-content-around">
            <a class="bg-warning px-1" href="/edit?id=<%= user[index]._id %> " rel="noopener noreferrer"><i class="fas fa-user-edit"></i></a>
||
            <a class="bg-danger px-1 delete" title="<%= user[index].name %>"  id=<%= user[index]._id %> rel="noopener noreferrer"><i class="fas fa-user-times"></i></a>
        </td>
      </tr>
    
    </tbody>
    <% } %>
  </table>
</form>

</div>
